<form>
    <h1>CRIANDO NOVO CATEGORIA</h1>

    <mat-form-field class="form">
        <mat-label>Nome</mat-label>
        <input matInput type="text" name="titulo" placeholder="Ex. Curso de Spring Boot com Angular 10" maxlength="100">
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Titulo</mat-label>
        <textarea matInput type="text" name="nome_autor" placeholder="Ex. Valdir Cezar" maxlength="100"></textarea>
    </mat-form-field>

    <mat-form-field class="form">
        <mat-label>Texto</mat-label>
        <textarea matInput type="text" name="texto" placeholder="Ex. Loorem ipsum" maxlength="2000000"></textarea>
    </mat-form-field>

    <div class="buttons">
        <button class='mat-elevation-z8' mat-stroked-button color="primary">CRIAR</button>
        <button class = 'mat-elevation-z8' mat-stroked-button color="warn">CANCELAR</button>
    </div>
</form>


